@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Display:wght@100..900&family=Lexend+Deca:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
main {
    width: 60%;
    max-width: 900px;
    display: flex;
}
.card {
    padding: 50px;
}
#sedans-card {
    background-color: hsl(31, 77%, 52%);
}
#sedans-card button {
    color: hsl(31, 77%, 52%);
}
#suv-card {
    background-color: hsl(184, 100%, 22%);
}
#suv-card button {
    color: hsl(184, 100%, 22%);
}
#luxury-card {
    background-color: hsl(179, 100%, 13%);
}
#luxury-card button {
    color: hsl(179, 100%, 13%);
}
button {
    padding: 10px 20px;
    background-color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

/* ------------------- */
img {
    margin-bottom: 20px;
}
h2 {
    font-size: 3em;
    font-family: 'Big Shoulders Inline Display', cursive;
    margin-bottom: 20px;
}
p {
    width: 80%;
    font-size: 15px;
    font-weight: 200;
    font-family: 'Lexend Deca', sans-serif;
    margin-bottom: 80px;
}

@media (max-width: 700px) {
    main {
        flex-direction: column;
        width: 80%;
        margin: 0 auto;
    }
    .card {
        padding: 40px;
    }
    #sedans-card {
        border-radius: 10px 10px 0 0;
    }  
    #luxury-card {
        border-radius: 0 0 10px 10px;
    } 
    p {
        margin-bottom: 40px;
        width: 100%;
    }
}
